@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  /* background-color: rgb(244, 244, 244); */
  background: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;           /* scrollbar thickness (vertical) */
  height: 5px;          /* scrollbar height (horizontal) */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* background of scrollbar area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6633FF;     /* scrollbar thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8258ff;     /* lighter shade on hover */
}


::-webkit-scrollbar {
  padding: 1px;
  width: 5px;
  height: 6px;  
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

.zakeke-try-on-viewer {
  z-index: 6!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

canvas {
  background-color: rgb(244, 244, 244);
}